@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    background-color: #E0E8FF;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background: no-repeat url("./images/pattern-background-mobile.svg");
    background-position: 0px 0px;
}


/* Elements */

.card {
    width: 87.2%;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
}

.card .hero-img {
    width: 100%;
    margin-bottom: 1rem;
}

.full-description {
    width: 87.2%;
    margin: auto;
}

.card h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    font-size: 1.375rem;
}

.card .description {
    color: #717FA6;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.56rem;
}

.card-container {
    background-color: #F7F9FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 11px;
    padding: 1rem;
}

.card-container img {
    width: 3rem;
    height: 3rem;
}

.card-container p {
    font-size: 0.875rem;
}

.card-container .annual-plan {
    color: #1F2E55;
    font-weight: 900;
}

.card-container .price {
    color: #717FA6;
}

.card-container .change {
    color: #382AE1;
    text-decoration: underline;    
}

.button {
    display: block;
    background-color: #382AE1;
    color: white;
    box-shadow: 0px 20px 20px hsla(0, 0%, 75%, 0.6);
}

.cancel-order {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    color: #717FA6;
    font-weight: 900;
}

@media (min-width:375px) {
    .card {
        max-width: 450px;
    }

    .card .hero-img {
        margin-bottom: 1.4rem;
    }

    .card h3 {
        margin-top: 1.4rem;
        font-size: 1.4rem;
    }

    .description {
        font-size: 1.1rem;
    }

    .button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cancel-order {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .change, .button, .cancel-order {
        transition: 300ms;
    }

    .change:hover {
        color: #766CF1;
        text-decoration: none;
        cursor: pointer;
    }

    .button:hover {
        background-color: #766CF1;
        cursor: pointer;
    }

    .cancel-order:hover {
        color: #1F2E55;
        cursor: pointer;
    }
}